---
import '../styles/global.css'
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, author } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <div
      class="container mx-auto max-w-full dark:dark:bg-neutral-900 bg-amber-50 flex flex-col min-h-screen justify-between"
    >
      <main
        class="max-w-full mx-auto px-2 sm:px-12 lg:px-24 xl:px-48 2xl:px-96 pb-2 bg-amber-50 dark:dark:bg-neutral-900 grow"
      >
        <article>
          <div class="header-section mb-8 mt-8">
            <h1 class="text-3xl font-bold mb-2 text-gray-800 dark:text-white">
              {title}
            </h1>
            <p class="text-xl text-gray-800 dark:text-white mb-4">
              {description}
            </p>
            <div class="post-meta text-sl text-gray-800 dark:text-white mb-8">
              <FormattedDate date={pubDate} /> by <a
                href="/"
                class="hover:underline">{author}</a
              >
            </div>
          </div>
          <div
            class="prose dark:prose-invert max-w-full text-gray-800 dark:text-white prose-h1:text-4xl prose-p:text-xl prose-li:text-xl prose-blockquote:text-sm prose-a:text-green-800 prose-a:dark:text-green-200 prose-code:text-base prose-code:before:hidden prose-code:after:hidden mb-8"
          >
            <slot />
          </div>
        </article>
        <div class="mb-8">
          <p class="text-xl text-gray-800 dark:text-white mb-2">
            Thanks for reading all the way to the end! If the content was useful, consider buying me a coffee to keep the tech posts coming 💚
          </p>
          <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="mameli.dev" data-color="#FFDD00" data-emoji="☕"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
        </div>
      </main>
    </div>
  </body>
</html>
