---
import '../styles/global.css'
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, author } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <div
      class="container mx-auto max-w-full dark:dark:bg-neutral-900 bg-amber-50 flex flex-col min-h-screen justify-between"
    >
      <main
        class="max-w-3xl mx-auto px-2 sm:px-6 lg:px-8 pb-2 bg-amber-50 dark:dark:bg-neutral-900 grow"
      >
        <article>
          <div class="header-section mb-8 mt-8">
            <h1 class="text-3xl font-bold mb-2 text-gray-800 dark:text-white">
              {title}
            </h1>
            <p class="text-xl text-gray-800 dark:text-white mb-4">
              {description}
            </p>
            <div class="post-meta text-sl text-gray-800 dark:text-white mb-8">
              <FormattedDate date={pubDate} /> by <a
                href="/"
                class="hover:underline">{author}</a
              >
            </div>
          </div>
          <div
            class="prose dark:prose-invert max-w-11/12 text-gray-800 dark:text-white prose-h1:text-4xl prose-p:text-xl prose-li:text-xl prose-blockquote:text-sm prose-a:text-green-800 prose-code:text-base prose-code:before:hidden prose-code:after:hidden mb-18"
          >
            <slot />
          </div>
        </article>
      </main>
    </div>
  </body>
</html>
